#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        brace_macro: brace_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "BRACE_MACRO";
        };

        bracket_macro: bracket_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BRACKET_MACRO";
        };

        parenthesis_macro: parenthesis_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "PARENTHESIS_MACRO";
        };

        double_quote_macro: double_quote_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp LEFT_ARROW>;
            label = "DOUBLE_QUOTE_MACRO";
        };

        ime_toggle: ime_toggle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "IME_TOGGLE";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp L         &kp U         &kp COMMA  &kp DOT                                        &kp F        &kp W  &kp R  &kp Y  &kp P
&mt LEFT_SHIFT E  &kp I         &lt 5 A       &kp O      &kp MINUS      &none            &kp BACKSPACE  &kp K        &kp T  &kp N  &kp S  &mt RIGHT_CONTROL H
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V      &kp SEMICOLON  &ime_toggle      &kp DEL        &kp G        &kp D  &kp M  &kp J  &mt RIGHT_ALT B
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 TAB  &mkp LCLK      &mkp RCLK        &lt 2 ENTER    &lt 3 SPACE                       &lt 6 ESCAPE
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        FUNCTION {
            bindings = <
&kp LEFT_BRACE        &kp RIGHT_BRACE        &brace_macro        &double_quote_macro  &kp PLUS                          &trans          &kp EXCLAMATION  &kp QUESTION  &kp TILDE   &kp GRAVE
&kp LEFT_BRACKET      &kp RIGHT_BRACKET      &bracket_macro      &kp EQUAL            &kp MINUS     &trans      &trans  &kp UNDERSCORE  &kp AT_SIGN      &kp HASH      &kp DOLLAR  &kp PERCENT
&kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &parenthesis_macro  &kp CARET            &kp ASTERISK  &trans      &trans  &trans          &kp AMPERSAND    &kp SLASH     &kp PIPE    &kp BACKSLASH
&trans                &trans                 &trans              &trans               &trans        &trans      &trans  &trans                                                     &trans
            >;
        };

        NUM {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                              &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp F11      &kp F12  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&trans        &trans        &trans        &trans        &trans        &trans       &trans   &trans        &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans        &trans       &trans   &trans                                                  &trans
            >;
        };

        ARROW {
            bindings = <
&trans    &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &trans                       &trans  &trans         &trans  &trans  &trans
&kp HOME  &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &kp END  &trans      &trans  &trans  &kp BACKSPACE  &trans  &trans  &trans
&trans    &trans          &kp DOWN_ARROW  &trans           &trans   &trans      &trans  &trans  &kp DEL        &trans  &trans  &trans
&trans    &trans          &trans          &trans           &trans   &trans      &trans  &trans                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans       &trans       &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &kp LC(W)                      &kp LC(W)  &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)  &trans       &trans
&lt 5 SPACE  &lt 4 SPACE  &mkp LCLK        &mkp RCLK          &mkp MCLK  &trans      &trans  &mkp MCLK  &mkp LCLK        &mkp MCLK          &lt 4 SPACE  &lt 5 SPACE
&trans       &trans       &trans           &trans             &trans     &trans      &trans  &trans     &mkp MB4         &mkp MB5           &trans       &trans
&trans       &trans       &trans           &trans             &trans     &trans      &trans  &trans                                                      &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&none   &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                                 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans     &trans      &studio_unlock  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kt KP_N4  &trans      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans     &trans      &trans          &trans                                                  &trans
            >;
        };
    };
};
