#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* マウスホイール設定の復活 */
/ {
    behaviors {
        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    /* マクロ設定の引き継ぎ */
    macros {
        macro_brackets: macro_brackets { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LBKT &kp RBKT &kp LEFT>; };
        macro_braces: macro_braces { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LBRC &kp RBRC &kp LEFT>; };
        macro_parens: macro_parens { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LPAR &kp RPAR &kp LEFT>; };
        macro_dqt: macro_dqt { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp DQT &kp DQT &kp LEFT>; };
        ime_toggle: ime_toggle { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LA(GRAVE)>; };
    };

    keymap {
        compatible = "zmk,keymap";

        /* レイヤー0: あなたが書き出した配置を完全再現 */
        default_layer {
            bindings = <
/* 1段目(10) */  &kp Q  &kp L  &kp U  &kp COMMA  &kp DOT                    &kp F  &kp W  &kp R  &kp Y  &kp P
/* 2段目(12) */  &kp E  &kp I  &kp A  &kp O  &kp EQUAL  &none               &kp BSPC  &kp K  &kp T  &kp N  &kp S  &kp H
/* 3段目(12) */  &kp Z  &kp X  &kp C  &kp V  &kp SEMI  &ime_toggle          &kp DEL  &kp G  &kp D  &kp M  &kp J  &kp B
/* 特殊(10)  */  &kp LCTRL  &kp LGUI  &kp LALT  &lt 6 ESC  &lt 1 TAB  &mkp LCLK  &mkp RCLK  &lt 2 RET  &lt 3 SPACE  &mkp MB1
            >;
            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        /* レイヤー1(SIGN): マクロと記号をあなたの希望通りに */
        SIGN {
            bindings = <
/* 1段目 */  &kp LBRC  &kp RBRC  &macro_braces  &macro_dqt  &kp PLUS      &none  &kp EXCL  &kp QMARK  &kp TILDE  &kp GRAVE
/* 2段目 */  &kp LBKT  &kp RBKT  &macro_brackets &kp EQUAL  &none  &none  &none  &kp UNDER  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT
/* 3段目 */  &trans  &trans  &kp LPAR  &kp RPAR  &macro_parens  &kp ASTRK  &none  &none  &kp AMPS  &kp SLASH  &kp PIPE  &kp BSLH
/* 特殊  */  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        /* レイヤー2(NUM_FN): 既存の設定を44キー用に補正 */
        NUM_FN {
            bindings = <
/* 1段目 */  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                 &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
/* 2段目 */  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &none          &none  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
/* 3段目 */  &kp F11 &kp F12 &none   &none   &none   &none          &none  &none   &none   &none   &none   &none
/* 特殊  */  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        /* レイヤー3(ARROW): 矢印キーなど */
        ARROW {
            bindings = <
/* 1段目 */  &none  &kp HOME  &kp UP    &kp END   &none                 &none  &none  &none  &none  &none
/* 2段目 */  &none  &kp LEFT  &kp DOWN  &kp RIGHT &none  &none          &none  &none  &none  &none  &none  &none
/* 3段目 */  &kp PG_UP  &kp PG_DN  &none   &none   &none   &none        &none  &none  &none  &none  &none  &none
/* 特殊  */  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
